<div class="container mt-5 bg-white p-4 shadow">
  <h1>My lists</h1>

  <ul class="list-unstyled">
    <% @lists.each do |list| %>
      <li>
        <%= link_to list.name, list_path(list) %>
      </li>
    <% end %>
  </ul>


  <%= link_to 'New list', new_list_path, class: 'btn btn-primary' %>
</div>
